<%= stylesheet_link_tag "application" %>

<div id="header">
    <h1>Задачи</h1>
    
</div>
<%= link_to '+', "#", :id => "show" %>
<div class="container-fluid">
    <div id="projects" class="row">
        <% @projects.each do |project| %>
            <div class="col-12 col-md-6 col-lg-4 col-xl-4" >
                <div class="project">
                    <h3 style="text-transform:uppercase;"><%= project.title %></h3>
                    <ul>
                        <% project.todos.each do |todo| %>
                            <li>
                                <%= form_with scope: :todo, :url => "/projects/:project_id/todos/:id(.:format)", method: "put", local: true do |form| %>
                                    <%= form.check_box :isCompleted, :class => "icheck-me", :id => todo.id, :checked => todo.isCompleted %>
                                    <%= form.hidden_field :id, :value => todo.id %>
                                <% end %>
                                <div class="todo-text" id="a<%= todo.id %>">
                                    <%= todo.text %>
                                </div>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        <% end %>
    </div>
</div>

<%= render 'todos/form' %>