<%= javascript_include_tag "application" %>
<%= form_with scope: :todo, url: "/projects/:project_id/todos", local: true, id: "form" do |form| %>
    <%= form.collection_select(:project_id, Project.all, :id, :title) %>
    <p>
        <%= form.text_field :text, placeholder: "Название задачи..." %>
    </p>

    <p>
        <%= link_to 'ОТМЕНА', "#", :id => "hide" %>
        <%= link_to 'OK', "#", :onclick => "$('#form').submit()" %>    
    </p>
<% end %>
